{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<div id="cbp-so-scroller" class="cbp-so-scroller">

	<section class="cbp-so-section">
		<article class="cbp-so-side cbp-so-side-left">
			<h2>Lemon drops</h2>
			<p>Fruitcake toffee jujubes. Topping biscuit sesame snaps jelly caramels jujubes tiramisu fruitcake. Marzipan tart lemon drops chocolate sesame snaps jelly beans.</p>
		</article>
		<figure class="cbp-so-side cbp-so-side-right">
			<img src="{{ url_for('static', filename='media/participant.png') }}" alt="img01">
		</figure>
	</section>

	<section class="cbp-so-section">
		<figure class="cbp-so-side cbp-so-side-left">
			<img src="{{ url_for('static', filename='media/judge.png') }}" alt="img02">
		</figure>
		<article class="cbp-so-side cbp-so-side-right">
			<h2>Plum caramels</h2>
			<p>Lollipop powder danish sugar plum caramels liquorice sweet cookie. Gummi bears caramels gummi bears candy canes cheesecake sweet roll icing dragée. Gummies jelly-o tart. Cheesecake unerdwear.com candy canes apple pie halvah chocolate tiramisu.</p>
		</article>
	</section>

	<section>
		<!-- ... -->
	</section>
	<!-- ... -->
	
</div>
{% endblock %}
{% block end %}
<script src="{{ url_for('static', filename='js/vendor/tablesort.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/tablesort.number.js') }}"></script>
<script>
var tables = [
  document.getElementById('items'),
  document.getElementById('annotators'),
];
for (var i = 0; i < tables.length; i++) {
  new Tablesort(tables[i]);
}
</script>
{% endblock %}
