{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
<div class="container">
	<div id="splitlayout" class="splitlayout">
		<div class="intro">
			<div class="side side-left">
        <div class="admin-header on-split">
                    <img src="{{ url_for('static', filename='media/logo_hack36_front.png') }}">
    			</div>
				<div class="intro-content">
					<div class="profile"><img src="{{ url_for('static', filename='media/participant.png') }}" alt="profile1"></div>
					<h1><span>Hackers</span><span>Manage teams</span></h1>
				</div>
				<div class="overlay"></div>
			</div>
			<div class="side side-right">
        <nav class="admin-tag on-split cl-effect cl-effect-1">
          <a class="offFocus" id="admin-set" data-toggle="popover" title="Settings" data-placement="bottom" href="#">#admin</a>
          <div id="popover-content-admin-set" class="d-none">
          <table>
            <tbody>
              <tr>
                <td>Test 1</td>
                <td class="onoffswitch switchON">
                  <input type="checkbox" name="s1" class="onoffswitch-checkbox" value="on">
                  <label class="onoffswitch-label" for="s1">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Test 2</td>
                <td class="onoffswitch switchOFF">
                  <input type="checkbox" name="s2" class="onoffswitch-checkbox" value="off">
                  <label class="onoffswitch-label" for="s2">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Test 3</td>
                <td class="onoffswitch switchOFF">
                  <input type="checkbox" name="s3" class="onoffswitch-checkbox" value="off">
                  <label class="onoffswitch-label" for="s3">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </nav>
				<div class="intro-content">
					<div class="profile"><img src="{{ url_for('static', filename='media/judge.png') }}" alt="profile2"></div>
					<h1><span>Mentors</span><span>Manage judges</span></h1>
				</div>
				<div class="overlay"></div>
			</div>
		</div><!-- /intro -->
		<div class="page page-right page-large">
			<div class="page-inner">
				<section>
					<!-- content -->
				</section>
				<section>
					<!-- content -->
				</section>
				<!-- ... -->
			</div><!-- /page-inner -->
		</div><!-- /page-right -->
		<div class="page page-left page-fill">
			<div class="page-inner">
          <div class="item">
            <div class="banner">
              <h2>Projects</h2>
            </div>
            <div class="info">
              <table id="items">
                <thead>
                  <tr>
                    <th data-sort-method="caseInsensitiveSort">Name</th>
                    <th data-sort-method="caseInsensitiveSort">Location</th>
                    <th data-sort-method="caseInsensitiveSort">Secret Key</th>
                    <th class="no-sort">Actions</th>
                 </tr>
              </thead>
              <tbody>
                 <tr class="">
                    <td>Moti k lal (NIT Allahabad)</td>
                    <td>12</td>
                    <td>l74kdI</td>
                    <td data-sort="False">
                      <ul>
                        <li> <span class="glyphicon glyphicon-king"></span> </li>
                        <li> <span class="glyphicon glyphicon-eye-close"></span> </li>
                        <li> <span class="glyphicon glyphicon-remove"></span> </li>
                      </ul>
                   </td>
                 </tr
              </tbody>
            </table>
          </div>
        </div>
			</div><!-- /page-inner -->
		</div><!-- /page-left -->
		<a href="#" class="back back-right" title="back to intro">→</a>
		<a href="#" class="back back-left" title="back to intro">←</a>
	</div><!-- /splitlayout -->
</div><!-- /container -->
{% endblock %}
{% block end %}

<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/tablesort.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/tablesort.number.js') }}"></script>
<script>
var tables = [
  document.getElementById('items'),
  document.getElementById('annotators'),
];
for (var i = 0; i < tables.length; i++) {
  new Tablesort(tables[i]);
}
</script>
{% endblock %}
{% block footer %}
{% endblock %}
